<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Medical Record</title>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<header th:fragment="header-nav">
    <h1>Medical Record</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doctors">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patients">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/visits">Visits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sick-notes">Sick Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reports">Reports</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<footer page-footer font-small>
    <div class="footer-copyright text-center py-3">© 2026 Copyright:
        <a href="#"> Medical Record</a>
    </div>
</footer>

</html>
