<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
<h1>Medical Record</h1>
<nav th:replace="~{fragments :: navigation}"></nav>

<h4>Create Visit</h4>

<div class="col-6">
    <form action="#" th:action="@{/visits/create}" th:object="${visit}" method="post">
        <div class="form-group">
            <label for="date">Date</label>
            <input class="form-control" type="date" th:field="*{date}" id="date">
            <span class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</span>

            <label for="patientId">Patient</label>
            <select class="form-control" th:field="*{patientId}" id="patientId">
                <option value="">Select Patient</option>
                <option th:each="patient : ${patients}"
                        th:value="${patient.id}"
                        th:text="${patient.name + ' - ' + patient.ucn}">
                </option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('patientId')}" th:errors="*{patientId}">Patient Error</span>

            <label for="doctorId">Doctor</label>
            <select class="form-control" th:field="*{doctorId}" id="doctorId">
                <option value="">Select Doctor</option>
                <option th:each="doctor : ${doctors}"
                        th:value="${doctor.id}"
                        th:text="${doctor.name + ' - ' + doctor.degree}">
                </option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('doctorId')}" th:errors="*{doctorId}">Doctor Error</span>

            <label for="diagnosis">Diagnosis</label>
            <input class="form-control" type="text" th:field="*{diagnosis}" placeholder="Diagnosis" id="diagnosis">
            <span class="text-danger" th:if="${#fields.hasErrors('diagnosis')}" th:errors="*{diagnosis}">Diagnosis Error</span>

            <label for="treatment">Treatment</label>
            <input class="form-control" type="text" th:field="*{treatment}" placeholder="Treatment" id="treatment">
            <span class="text-danger" th:if="${#fields.hasErrors('treatment')}" th:errors="*{treatment}">Treatment Error</span>

            <label for="price">Price</label>
            <input class="form-control" min="0" type="number" step="1" th:field="*{price}" placeholder="Price" id="price">
            <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</span>
        </div>

        <button type="submit" class="btn btn-primary">Save Visit</button>
    </form>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>